<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>
</head>
<body>
    <h1>Create Account</h1>
    <label>Name:</label>
        <input type="text" name="adminame">
    <label>Username:</label>
        <input type="text" name="adminuser" placeholder="Username">
    <label>Password:</label>
        <input type="password" name="adminpass" placeholder="Password">
</body>
</html>